.landingPage {
    padding: 20px 22px;
    text-decoration: none;
    position: absolute;
    height: 200px;
    width: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

label {
    font-weight: bolder;
    background: beige;
    padding: 30px;
    width: 180px;
    height: 100px;
    border-radius: 25px;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: dodgerblue;
}