div.landingPage {
    padding: 20px 22px;
    text-decoration: none;
    position: absolute;
    width: 60%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 2s;
}

p.landingPage {
    font-weight: bolder;
    color: beige;
    font-size: 40px;
    margin-top: 20%;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: dodgerblue;
}