.topBarNavigation {
    overflow: hidden;
}

.topBarNavigation a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topBarNavigation a:hover {
    font-weight: bold;
}

.landingPage {
    padding: 20px 22px;
    background: beige;
    text-decoration: none;
    position: absolute;
    height: 10%;
    width: 20%;
    margin: auto;
}

body {
    font-family: 'Sen', sans-serif;
}

div p {
    font-style: italic;
}